{% extends 'base.html.twig' %}

{% block title 'Gérer les options' %}

{% block body %}
    <div class="container mt-4">

        <h1>Éditer l'option</h1>
    <div class="container mt-4">
    {{ include ('admin/option/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>

    </div>

{% endblock %}